/dependee/.classpath
/dependee/.project
/dependee/.settings
/dependee/target
/dependee/work
/depender/.classpath
/depender/.project
/depender/.settings
/depender/target
/depender/work

/target
